body {
  font-family: "Inter", sans-serif;
}
.home {
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  background: #f5f7fb;
  color: #293264;
}
.home-header {
  margin: 0;
  font-size: 2.5rem;
}
.home-desc {
  font-size: 1.5rem;
}
.home-button {
  width: 15rem;
  margin: 0 auto;
  padding: 1.5rem;
  background: #4d5b9e;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
